doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .navbar.navbar-default.navbar-fixed-top.text-center
        .container
          h1 Verbs API
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', datatarget='# navbar-main')
                span.icon-bar
                span.icon-bar
                span.icon-bar
          #navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='/') Home
              li
                a(href='/') Verbs
              li
                a(href='/api/v1/verbs') API
  .container    
    block content

    footer
      .row
        .col-xs-12
          smal &copy; VictorZamudio 2017

    script(src='/javascripts/jquery-2.2.4.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
